/* Import mixins */
@import "@/styles/_text.scss";

.manageContainer {
  display: grid;
  place-items: center;
  section {
    width: 80%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0 6rem;
    h1 {
      @include h1-md;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      border-bottom: 2px solid var(--black);
      margin-top: 2rem;
    }
    button[id="addButton"] {
      width: 3rem;
      height: 3rem;
      font-size: 2rem;
      color: var(--white);
      border-radius: 50%;
      background-color: var(--blue);
      position: fixed;
      bottom: 1rem;
      right: 1rem;
      &:hover {
        filter: brightness(0.8);
      }
    }
  }
}
