/* Import mixins */
@import "@/styles/_text.scss";

.TableAccounts {
  table-layout: fixed;
  width: 80%;
  th {
    padding: 1rem;
    border-bottom: 0.2rem solid var(--blue);
  }
  td {
    text-align: center;
    padding: 1rem 0;
    word-wrap: break-word;
    a {
      @include linkText;
    }
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      li svg {
        font-size: 2rem;
        cursor: pointer;
        &[name="edit"]:hover {
          color: var(--blue);
        }
        &[name="remove"]:hover {
          color: var(--red);
        }
      }
    }
  }
}
