/* Import mixins */
@import "@/styles/_inputs.scss";
@import "@/styles/_buttons.scss";
@import "@/styles/_text.scss";

.loginContainer {
  display: grid;
  place-items: center;
  section {
    padding: 5rem;
    width: 40%;
    height: 90%;
    gap: 2rem;
    box-shadow: var(--boxShadow-md);
    border-radius: var(--rounded-lg);
    h1 {
      @include h1-lg;
      margin-bottom: 2rem;
      text-align: center;
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      input {
        @include input_md;
        text-align: center;
      }
      a {
        @include linkText;
        text-align: center;
      }
      button {
        @include button_md;
      }
    }
  }
}
