.linkedButton {
  width: 15rem;
  padding: 0.7rem;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 0.733rem;
}

.linkedButton:hover {
  background-color: rgba(127, 127, 127, 0.15);
  color: var(--linkColor);
  text-decoration: underline;
  text-underline-offset: 4px;
  transform: scale(1.05);
}

.button_md {
  min-width: 10rem;
  padding: 0.5rem 0;
  background-color: var(--primary);
  color: var(--white);
  text-align: center;
  font-size: 1.1rem;
  border-radius: var(--radius-md-button);
  user-select: none;
}

.button_md:hover {
  filter: brightness(1.2);
}
